*.pyc
metient/test/machina_simulated_data/predictions_*
metient/test/machina_simulated_data/predict_*.txt
metient/test/machina_simulated_data/output_*.txt
metient/data/rerun_machina_sims/
metient/test/output_plots/.DS_Store
**/.DS_Store
.DS_Store
**/*.params.json
**/*.ssmi
**/*.pkl.gz
**/*.tsv
**/*.txt
**/*.png
**/*.pickle
**/*.log
