*.pyc
src/test/machina_simulated_data/predictions_*
src/test/machina_simulated_data/predict_*.txt
src/test/machina_simulated_data/output_*.txt
src/data/rerun_machina_sims/
src/test/output_plots/.DS_Store
**/.DS_Store
.DS_Store
src/data/**
src/data/**/*.params.json
src/data/**/*.ssm
src/data/**/*.tsv
src/data/**/*.txt
src/data/**/*.png
src/data/**/*.pickle